<ion-header>
  <ion-toolbar>
    <ion-title>todo-form</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nom de la tâche</ion-label>
      <ion-input [(ngModel)]="task.taskName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Date d'échéance</ion-label>
      <ion-datetime
        [(ngModel)]="task.dueDate"
        displayFormat="DD/MM/YYYY"
      ></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Terminée</ion-label>
      <ion-checkbox [(ngModel)]="task.done" slot="start"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="validate()">Valider</ion-button>
</ion-content>
