<ion-header>
  <ion-toolbar>
    <ion-title>todo-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of taskList">
      <ion-checkbox [(ngModel)]="item.done" slot="start"></ion-checkbox>
      <ion-label>
        <h3>{{ item.taskName }}</h3>
        <p>Echéance le : {{ item.dueDate | date: 'd/M/yy' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" routerLink="/todo-form">
      Nouvelle tâche
    </ion-button>
  </ion-toolbar>
</ion-footer>
