<ion-header>
  <ion-toolbar>
    <ion-title>form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button [color]="buttonColor" expand="block" (click)="toggleForm()">
    Valider
  </ion-button>

  <h1>{{ name }} aime les {{ fruits[0] }}</h1>

  <ion-item>
    <ion-input type="text" placeholder="Saisir un fruit" [(ngModel)]="newFruit">
    </ion-input>
    <ion-button slot="end" (click)="addFruit()">Valider</ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let item of fruits">
      {{ item }}
    </ion-item>
  </ion-list>

  <p class="important-text" [hidden]="! visible">
    vous êtes {{ user.role }} monsieur {{ user.name }}
    <br />
    un et un font {{ 1 + 1 }}
  </p>
  <ion-list *ngIf="visible">
    <ion-item>
      <ion-label position="stacked">Nom</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Prénom</ion-label>
      <ion-input type="text" placeholder="Votre prénom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Biographie</ion-label>
      <ion-textarea rows="6" placeholder="Votre bio"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label class="form-label">Langues</ion-label>
      <ion-select multiple="true" cancelText="Annuler" okText="Go">
        <ion-select-option>Allemand</ion-select-option>
        <ion-select-option>Anglais</ion-select-option>
        <ion-select-option>Espagnol</ion-select-option>
        <ion-select-option>Italien</ion-select-option>
        <ion-select-option>Français</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-radio-group>
      <ion-list-header>Genre</ion-list-header>
      <ion-item>
        <ion-label>femme</ion-label>
        <ion-radio slot="start" value="F"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>homme</ion-label>
        <ion-radio slot="start" value="H"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-item>
      <ion-range
        min="10"
        max="100"
        step="10"
        pin="true"
        snaps="true"
        dualKnobs="true"
      >
        <ion-icon name="sunny" slot="start"></ion-icon>
        <ion-icon name="sunny" slot="end"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-label>wifi</ion-label>
      <ion-toggle slot="end" color="success"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
